.tabs {
  display: flex;

  &__title {
    font-size: 2.4rem;
    line-height: 1.25;
    margin-bottom: 1.6rem;
    color: $white;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-right: 2.4rem;
  }
  &__list {
    border-left: 1px solid #434345;
    margin-bottom: 0;
    padding: 0;
    border-bottom: none;
    transition: $base-transition;
  }

  &__btn {
    position: relative;
    color: #bebebe;
    transition: $base-transition;
    padding: 0 2.5rem;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;

    &:hover {
      color: $white;
      font-weight: 700;
    }

    & + & {
      margin-top: 15px;
    }

    &.active {
      color: $white;
      font-weight: 700;

      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        left: -1px;
        top: 0;
        background-color: $white;
      }
    }
  }

  &__content {
    display: none;

    width: 75%;

    &.active {
      display: block;
    }
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }
  
}
