.contact-sections{
    padding-top: 85px;
    // padding-bottom: 85px; 
    @include media("<=tablet-lg"){
        padding-top: 65px;
        // padding-bottom: 65px;
    }  
    @include media("<=phone-lg"){
        padding-top: 45px;
        // padding-bottom: 45px;
    }
    @include media("<=phone"){
        padding-top: 25px;
        // padding-bottom: 25px;
    }
    .map__wrap{
        padding-top: 98px; 
    }
}
.contact{
    &__wrap{
        flex-direction: row;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        @include media("<=tablet"){
            flex-direction: column;
        }
    }
    &__form{
        width: 60%;
        @include media("<=tablet"){
            width: 100%;
            &-button{
                display: flex;
                justify-content: center;
                padding-bottom: 50px;
            }
        }
        .more-tablet{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .col{
                width: 48%;
            }
            @include media("<=tablet"){
                flex-direction: column;
                .col{
                    width: 100%;
                }   
            }
        }
        label{
            transition: all 0.3s ease;
            // left: 16px;
        }
        .focus{
            color: #e50a0a !important;
            top: 3px !important;
            transform: scale(0.8) translateY(0) !important;
            // left: 10px;
        }
        .validation-error{
            color: #e50a0a;
            margin-top: 2px;
            display: none;
            &.active{
                display: block !important;
            }
        }
        .danger{
            border-color: #f54b0f !important;
        }
    }
    .col{
        .form-group{
            position: relative;
            margin-bottom: 30px;
            label{
                position: absolute;
                color: #fff;
                font-size: 1.3em;
                transform: translate(0,50%);
                top: 10px;
                left: 16px;
            }
        }
        input{
            width: 100%;
            background: none;
            border: 1px solid #ced4da;
            height: 50px;
            line-height: 28px;
            font-family: $primary-font;
            color: #FFF;
            font-size: 1.6rem;
            line-height: 1.5;
        }
        textarea{
            width: 100%;
            background: none;
            border: 1px solid #ced4da;
            font-family: $primary-font;
            color: #FFF;
            font-size: 1.6rem;
            line-height: 1.5;
        }
        &.col-6{
            padding: 0 12px;
            &:first-child{
                padding-left: 0 !important;
            }
            &:last-child{
                padding-right: 0 !important;
            }
        }
    }
    &__info{
        width: 30%;
        @include media('<=tablet-lg'){
            width: 38%;
        }
        @include media("<=tablet"){
            width: 100%;
        }
        font-family: $primary-font;
        font-size: 1.6rem;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        a{
            color: #bebebe;
            margin-top: 16px;
            &:first-child{
                margin-top: 0;
            }
            i{
                padding-right: 5px;
            }
        }
        ul{
            display: flex;
            flex-direction: row;
            margin-top: 35px;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #434345;
                border-radius: 50%;
                width: 4rem;
                height: 4rem;
                cursor: pointer;
                transition: all 0.3s ease;
                margin-right: 15px;
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    background-color: #0956b5;
                }
                a{
                    color:#FFF;
                }
            }
        }
        &-social{
            @include media("<=tablet"){
                justify-content: center;
            }
        }
    }
    &__text{
        width: 100%;
        font-family: $primary-font;
        color: #bebebe;
        font-size: 1.6rem;
        line-height: 1.5;
        margin-top: 50px;
    }
}