.parallax-sections{
    padding: 8.5rem 0;
    .parallax{
        .main-title{
            margin-bottom: 0;
            text-align: center;
        }
        &__wrap{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
}