.main-title {
  font-size: 3rem;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 2.1rem;
  font-family: $secondary-font;
  @include media(">=phone") {
    font-size: 4rem;
  }
  @include media(">=tablet-lg") {
    font-size: 9.6rem;
    margin-bottom: 4.1rem;
  }
}

.section-title {
  line-height: 1.2;
  font-size: 2.5rem;
  font-weight: 700;
  color: $white;
  margin-bottom: 2.1rem;
  font-family: $secondary-font;
  text-align: center;
  @include media(">=tablet") {
    font-size: 4.5rem;
  }
}

.breadcrumbs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  li{
    &::after{
      content: ' / ';
      font-family: $primary-font;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #bebebe;
    }
    a{
      font-family: $primary-font;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      color: #bebebe;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  li:last-child{
    &::after{
      content: none;
    }
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.base-text {
  font-size: 1.6rem;
}

.typography {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}
