.header {
  &__wrap {
    @extend %d-flex-center-between;

    @include media('>=tablet') {
      justify-content: center;
    }
  }
}

.nav {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 315px;
  padding: 0 16px 0 16px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 5;
  transition: $base-transition;
  transform: translateX(-110%);
  background-color: $white;

  //   @include media('>=full-hd') {
  //     position: static;
  //     background-color: $white;
  //     transform: translateX(0);
  //     padding: 0;
  //     width: auto;
  //   }

  &.active {
    transform: translateX(0);
  }

  &__list {
    font-size: 16px;
    line-height: 2;
    @extend %d-flex-column;
    width: 315px;
    height: 100%;
  }

  &__item {
    & + & {
      margin-top: 15px;
      @include media('>=tablet') {
        margin-left: 15px;
        margin-top: 0;
      }
    }
  }
}

.logo {
  position: relative;
  z-index: 6;

  a {
    width: 150px;
    height: 20px;
    background-color: $warning;
  }
}

.burger {
  width: 5.6rem;
  height: 5.6rem;
  position: fixed;
  left: 4rem;
  top: 4.8rem;
  z-index: 11;
  @extend %d-flex-column;
  justify-content: center;
  align-items: center;
  transition: $base-transition;

  &.active {
    left: 35rem;

    span {
      position: absolute;

      &:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  span {
    width: 50%;
    height: 4px;
    border-radius: 1px;
    background-color: $white;
    transition: $base-transition;

    &:nth-child(1) {
      margin-bottom: 4px;
    }

    &:nth-child(3) {
      margin-top: 4px;
    }
  }
}
