<header class="header">
    <div class="container header__wrap">

        <nav class="nav js-burger" id="nav">
            <div class="logo">
                <a href="index.html" class="logo-active">
                    <img src="assets/images/logo.png" alt="">
                </a>
            </div>
            <ul class="nav__list">
                <li class="nav__item active"><a href="">Home</a></li>
                <li class="nav__item"><a href="">About Me</a></li>
                <li class="nav__item"><a href="">Portfolio</a>
                    <span class="nav__icon">
                        <svg height="128px" id="Layer_1" style="enable-background:new 0 0 128 128;" version="1.1"
                            viewBox="0 0 128 128" width="128px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g>
                                <line
                                    style="fill:none;stroke:#000;stroke-width:12;stroke-linecap:square;stroke-miterlimit:10;"
                                    x1="111" x2="64" y1="40.5" y2="87.499" />
                                <line
                                    style="fill:none;stroke:#000;stroke-width:12;stroke-linecap:square;stroke-miterlimit:10;"
                                    x1="64" x2="17" y1="87.499" y2="40.5" />
                            </g>
                        </svg>
                    </span>
                </li>
                <li class="nav__item"><a href="">Services</a></li>
                <li class="nav__item"><a href="">Contact Me</a></li>
            </ul>
            <div class="nav-footer">
                <ul class="nav-footer__list">
                    <div class="nav-footer__item">
                        <span class="nav-footer__icon">
                            @@include('../svg-icon/phone.html')
                        </span>
                        <a href="tel:+18005596580" class="nav-footer__link ">+1 800 559 6580</a>
                    </div>
                    <div class="nav-footer__item">
                        <span class="nav-footer__icon">
                            @@include('../svg-icon/mail.html')
                        </span>
                        <a href="mailto:mail@mail.mail" class="nav-footer__link">mail@mail.mail</a>
                    </div>
                </ul>
                <div class="nav-social">
                    <ul class="nav-social__list">
                        <li class="nav-social__item">
                            <a href="" class="nav-social__link fa fa-facebook "></a>
                        </li>
                        <li class="nav-social__item">
                            <a href="" class="nav-social__link fa fa-twitter"></a>
                        </li>
                        <li class="nav-social__item">
                            <a href="" class="nav-social__link fa fa-google-plus"></a>
                        </li>
                        <li class="nav-social__item">
                            <a href="" class="nav-social__link fa fa-500px"></a>
                        </li>
                        <li class="nav-social__item">
                            <a href="" class="nav-social__link fa fa-behance"></a>
                        </li>
                    </ul>
                </div>
                <div class="policy">
                    <span class="policy__text">Intense Photographer Portfolio © 2022. </span>
                    <a href="#" class="policy__link">Privacy Policy</a>
                </div>
            </div>
        </nav>

        <div class="burger js-burger-open">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>